/* Table styles */
tbody th {
    font-weight: normal;
    font-style: italic;
}

tbody tr {
    background-color: lightgreen;
}

tbody tr:nth-child(even) {
    background-color: lightblue;
}

tbody td:nth-child(2) {
    color: red;
}

tbody td:nth-child(4) {
    color: blue;
}

/* Definition list styles */
dt:hover + dd {
    background-color: purple;
}

/* Paragraph-img styles */
img {
    float: left;
}

/* Form styles */
fieldset {
    margin-top: 10px; 
}
fieldset[name="input_candy"] label {
    display: block;
    margin-bottom: 10px;
}

/* Inner-outer div */
.outer-content {
    width: 75%;
    margin-top: 20px;
    padding: 1px 0;
    background-color: pink;
}
.inner-content {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    background-color: lightblue;
}
